.main {
  display: flex;
  width: 90%;
}
.card-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}
.card {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: black solid 1px;
}
.card-detail,
.price {
  padding: 0px 5px;
}
.image-one {
  width: 100%;
}
.btn-one {
  width: 100%;
  color: var(--bg-forth-color);
  background-color: var(--bg-fifth-color);
  border: none;
  padding: 5px;
  border-radius: 0px;
}
.btn-one:hover,
.btn-one:focus {
  cursor: pointer;
}
@media (max-width: 590px) {
  .card-grid {
    grid-gap: 15px;
  }
}
